@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 html{
  @apply !overflow-x-hidden overflow-y-auto;
 }

  body {
    @apply  bg-[#F5F6EF] relative !overflow-x-hidden overflow-y-hidden  flex flex-col;
  }

  body::after,
  body::before {
    @apply absolute -z-50 bg-gradient-radial content-[''] blur-2xl;
  }

  body::after {
    @apply -top-[200px] -right-[200px]  h-[400px] w-[400px] from-darkGreen/55 from-[12%] via-lightGreen/55 via-70% to-white to-100%  rounded-bl-3xl;
  }

  body::before {
    @apply -bottom-[145px] -left-[120px] h-[477px] w-[459px] from-darkGreen/45 from-30% via-lightGreen/50 via-30% to-white to-100% rounded-tr-2xl;
  }
}

@layer utilities {
  .txt-primary {
    @apply text-6xl md:text-7xl font-semibold;
  }

  .txt-secondary {
    @apply text-4xl font-semibold;
  }

  .txt {
    @apply text-[16px] font-normal text-primary;
  }

  .txt-accent {
    @apply text-[16px] font-semibold text-primary;
  }

  .extralarge-heading {
    @apply text-4xl  font-semibold text-primary;
  }  
 
  .large-heading {
    @apply text-[24px] font-semibold;
  }

  .extralarge-heading-regular {
    @apply text-4xl font-normal;
  }

  .large-heading-regular {
    @apply text-[24px] font-normal;
  }

  .medium-heading {
    @apply text-[20px] font-semibold text-primary;
  }

  .medium-heading-regular {
    @apply text-[20px] font-normal;
  }

  .small-heading {
    @apply text-[12px] font-semibold uppercase text-primary;
  }

  .small-heading-regular {
    @apply text-[12px] font-normal;
  }
}

@layer components {
  .navlink {
    @apply transition-all relative hover:text-darkGreen text-primary font-semibold text-[16px];
  }

  .navlink.active {
    @apply text-darkGreen;
  }

  .menu-icon {
    @apply relative;
  }
  .menu-icon,
  .menu-icon::after,
  .menu-icon::before {
    @apply w-[2.2rem] h-[2px] bg-primary inline-block;
  }

  .menu-icon::after,
  .menu-icon::before {
    @apply absolute left-0 transition-all duration-[0.2] content-[''];
  }

  .menu-icon::after {
    @apply top-[8px];
  }
  .menu-icon::before {
    @apply -top-[8px];
  }

  .menu-icon.toggled {
    @apply bg-transparent after:rotate-[135deg] after:top-0 before:-rotate-[135deg] before:top-0;
  }

  .footer-navlink{
    @apply text-[16px] font-normal transition-all duration-[0.2s] hover:font-semibold hover:text-darkGreen text-primary;
  }

  .btn{
    @apply relative transition-all duration-[0.2s] inline-block hover:shadow-md hover:-translate-y-[1px] hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0
  }

  .btn-primary{
    @apply bg-accent text-primary txt px-[30px] py-[16px] after:bg-default;
  }

  .btn::after{
    @apply content-[''] inline-block h-[100%] w-[100%] absolute top-0 left-0 -z-[1] transition-all duration-[0.4s];
  }

  .btn-animated{
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  .card{
    clip-path: polygon(calc(100% - 10px) calc(100% - 0px), 10px calc(100% - 0px), 10px calc(100% - 0px), 8.37794745px calc(100% - 0.13087899999994px), 6.8392256px calc(100% - 0.50979199999989px), 5.40442315px calc(100% - 1.116153px), 4.0941288px calc(100% - 1.929376px), 2.92893125px calc(100% - 2.928875px), 1.9294192px calc(100% - 4.0940639999999px), 1.11618135px calc(100% - 5.404357px), 0.5098064px calc(100% - 6.839168px), 0.13088305px calc(100% - 8.377911px), 1.6555540320986E-31px calc(100% - 10px), 0px 10px, 0px 10px, 0.13088305px 8.37794502px, 0.5098064px 6.83922176px, 1.11618135px 5.40441874px, 1.9294192px 4.09412448px, 2.92893125px 2.9289275px, 4.0941288px 1.92941632px, 5.40442315px 1.11617946px, 6.8392256px 0.50980544px, 8.37794745px 0.13088278px, 10px 1.6555503343131E-31px, calc(100% - 73px) 0px, calc(100% - 73px) 0px, calc(100% - 71.377911px) 0.13088278px, calc(100% - 69.839168px) 0.50980544px, calc(100% - 68.404357px) 1.11617946px, calc(100% - 67.094064px) 1.92941632px, calc(100% - 65.928875px) 2.9289275px, calc(100% - 64.929376px) 4.09412448px, calc(100% - 64.116153px) 5.40441874px, calc(100% - 63.509792px) 6.83922176px, calc(100% - 63.130879px) 8.37794502px, calc(100% - 63px) 10px, calc(100% - 63px) 48px, calc(100% - 63px) 48px, calc(100% - 62.869121px) 49.6220647px, calc(100% - 62.490208px) 51.1607936px, calc(100% - 61.883847px) 52.5955989px, calc(100% - 61.070624px) 53.9058928px, calc(100% - 60.071125px) 55.0710875px, calc(100% - 58.905936px) 56.0705952px, calc(100% - 57.595643px) 56.8838281px, calc(100% - 56.160832px) 57.4901984px, calc(100% - 54.622089px) 57.8691183px, calc(100% - 53px) 58px, calc(100% - 10px) 58px, calc(100% - 10px) 58px, calc(100% - 8.3779109999999px) 58.1308817px, calc(100% - 6.8391679999999px) 58.5098016px, calc(100% - 5.404357px) 59.1161719px, calc(100% - 4.0940639999999px) 59.9294048px, calc(100% - 2.928875px) 60.9289125px, calc(100% - 1.929376px) 62.0941072px, calc(100% - 1.116153px) 63.4044011px, calc(100% - 0.50979199999995px) 64.8392064px, calc(100% - 0.13087899999999px) 66.3779353px, calc(100% - 5.6843418860808E-14px) 68px, calc(100% - 0px) calc(100% - 10px), calc(100% - 0px) calc(100% - 10px), calc(100% - 0.13087899999994px) calc(100% - 8.3779109999999px), calc(100% - 0.50979199999995px) calc(100% - 6.8391679999999px), calc(100% - 1.116153px) calc(100% - 5.4043569999999px), calc(100% - 1.9293759999999px) calc(100% - 4.0940640000001px), calc(100% - 2.928875px) calc(100% - 2.928875px), calc(100% - 4.094064px) calc(100% - 1.9293759999999px), calc(100% - 5.404357px) calc(100% - 1.116153px), calc(100% - 6.839168px) calc(100% - 0.509792px), calc(100% - 8.377911px) calc(100% - 0.13087900000005px), calc(100% - 10px) calc(100% - 5.6843418860808E-14px)); 
    @apply bg-default flex flex-col relative w-full p-3 h-full overflow-hidden;
  }
}


 @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }