@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 html{
  @apply !overflow-x-hidden overflow-y-auto;
 }

  body {
    @apply  bg-[#F5F6EF] relative !overflow-x-hidden overflow-y-hidden  flex flex-col;
  }

  body::after,
  body::before {
    @apply absolute -z-50 bg-gradient-radial content-[''] blur-2xl;
  }

  body::after {
    @apply -top-[200px] -right-[200px]  h-[400px] w-[400px] from-darkGreen/55 from-[12%] via-lightGreen/55 via-70% to-white to-100%  rounded-bl-3xl;
  }

  body::before {
    @apply -bottom-[145px] -left-[120px] h-[477px] w-[459px] from-darkGreen/45 from-30% via-lightGreen/50 via-30% to-white to-100% rounded-tr-2xl;
  }
}

@layer utilities {
  .txt-primary {
    @apply text-7xl font-semibold;
  }

  .txt-secondary {
    @apply text-4xl font-semibold;
  }

  .txt {
    @apply text-[16px] font-normal;
  }

  .txt-accent {
    @apply text-[16px] font-semibold;
  }

  .extralarge-heading {
    @apply text-6xl md:text-7xl font-semibold text-primary;

  }
  
 
  .large-heading {
    @apply text-[24px] font-semibold;
  }

  .extralarge-heading-regular {
    @apply text-4xl font-normal;
  }

  .large-heading-regular {
    @apply text-[24px] font-normal;
  }

  .medium-heading {
    @apply text-[20px] font-semibold;
  }

  .medium-heading-regular {
    @apply text-[20px] font-normal;
  }

  .small-heading {
    @apply text-[12px] font-semibold;
  }

  .small-heading-regular {
    @apply text-[12px] font-normal;
  }
}

@layer components {
  .navlink {
    @apply transition-all relative hover:text-darkGreen text-primary font-semibold text-[16px];
  }

  .navlink.active {
    @apply text-darkGreen;
  }

  .menu-icon {
    @apply relative;
  }
  .menu-icon,
  .menu-icon::after,
  .menu-icon::before {
    @apply w-[2.2rem] h-[2px] bg-primary inline-block;
  }

  .menu-icon::after,
  .menu-icon::before {
    @apply absolute left-0 transition-all duration-[0.2] content-[''];
  }

  .menu-icon::after {
    @apply top-[8px];
  }
  .menu-icon::before {
    @apply -top-[8px];
  }

  .menu-icon.toggled {
    @apply bg-transparent after:rotate-[135deg] after:top-0 before:-rotate-[135deg] before:top-0;
  }

  .footer-navlink{
    @apply text-[16px] font-normal transition-all duration-[0.2s] hover:font-semibold hover:text-darkGreen;
  }

  .btn{
    @apply relative transition-all duration-[0.2s] inline-block hover:shadow-md hover:-translate-y-[1px] hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0
  }

  .btn-primary{
    @apply bg-accent text-primary txt px-[30px] py-[16px] after:bg-default;
  }

  .btn::after{
    @apply content-[''] inline-block h-[100%] w-[100%] absolute top-0 left-0 -z-[1] transition-all duration-[0.4s];
  }

  .btn-animated{
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}


 @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }